extends ./layout.pug

block content
  div(class='mainContainer')
    div(class='divTCenter')
      h1 Does My Pet Need An Umbrella?
      h3 Select a pet to find out or 
        a(href='new') add your pet
    div(class='petTable')
      div(class='petTableBody')
        div(class='petTableRow')
          div(class='petTableHead') Name
          div(class='petTableHead') Type
          div(class='petTableHead') Breed
          div(class='petTableHead') &nbsp;
        each pet, index in pets
          if (index + 1)%2 == 0
            div(class='petTableRow')
              div(class='petTableCell')= pet.name
              div(class='petTableCell')= pet.pet_type
              div(class='petTableCell')= pet.breed
              div(class='petTableCell')
                a(href="/pets/" + pet.id) view
          else
            div(class='petTableRow petOddRow')
              div(class='petTableCell')= pet.name
              div(class='petTableCell')= pet.pet_type
              div(class='petTableCell')= pet.breed
              div(class='petTableCell')
                a(href="/pets/" + pet.id) view